

.parent {
  width: 200px;
  height: 200px;
  position: relative;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  background-color: red;
  left: 50%;
  transform: translateX(-50%);
}
/* ./src/main.css */
.imgBox {
  height: 400px;
  width: 400px;
  background: url('../assets/8big.jpg');
  background-size: contain;
}



